<!--  Express hbs engine  -->
{{> head }}
    
    {{> navbar }}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hola {{ capitalizar nombre}} || HTML - Jumbotron</h1>
            <p class="lead">Hola desde Express - Node.</p>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid corrupti mollitia illum, doloremque repellat commodi ea laborum in reprehenderit nemo unde dolorum similique autem voluptate neque, temporibus accusamus nihil quasi?</p>
        </div>
    </div>

    {{> footer }}