{{> head }}

    {{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Sobre Nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur esse optio ab saepe officiis in quo, sit sapiente expedita laborum nesciunt voluptate quam numquam ut tempore perspiciatis aspernatur deserunt quis.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/img250.png" alt="..." class="img-thumbnail">
         
        </div>
    </div>
</div>
{{> footer }}